# Lending Club Case Study
## by Ankit Kumar Surana

## Introduction


## Preliminary Wrangling

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

# Gathering

In [3]:
df = pd.read_csv('loan.csv')

/var/folders/0p/s2hsmj5j32l2tpky_c8c91q00000gn/T/ipykernel_10077/129683778.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('loan.csv')

In [4]:
# high-level overview of data shape and composition
print(df.shape)
print(df.info())
print(df.head())

(39717, 111)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB
None
        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  1077501    1296599       5000         5000           4975.0   36 months
1  1077430    1314167       2500         2500           2500.0   60 months
2  1077175    1313524       2400         2400           2400.0   36 months
3  1076863    1277178      10000        10000          10000.0   36 months
4  1075358    1311748       3000         3000           3000.0   60 months

  int_rate  installment grade sub_grade  ... num_tl_90g_dpd_24m  \
0   10.65%       162.87     B        B2  ...                NaN
1   15.27%        59.83     C        C4  ...                NaN
2   15.96%        84.33     C        C5  ...                NaN
3   13.49%       339.31     C        C1  ...                NaN
4   12.69%        67.79     B        B5  ...                NaN

  num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75 pub_rec_bankruptcies  \
0                NaN            NaN               NaN                  0.0
1                NaN            NaN               NaN                  0.0
2                NaN            NaN               NaN                  0.0
3                NaN            NaN               NaN                  0.0
4                NaN            NaN               NaN                  0.0

  tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit  \
0       0.0             NaN               NaN            NaN
1       0.0             NaN               NaN            NaN
2       0.0             NaN               NaN            NaN
3       0.0             NaN               NaN            NaN
4       0.0             NaN               NaN            NaN

  total_il_high_credit_limit
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN

[5 rows x 111 columns]

# Assessing

In [5]:
# Check duplicated value
df.duplicated().sum()

0

In [6]:
# Check null value for each column
df.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

# Cleaning

##### Define

##### Code

##### Test

# Univariate Exploration

# Segemented Exploration

# Bivariate Exploration