# Lending Club Case Study
## by Ankit Kumar Surana/Ankan Putatunda

## Introduction


## Preliminary Wrangling

In [51]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

# Gathering

In [52]:
df = pd.read_csv('loan.csv',low_memory=False)

In [53]:
# high-level overview of data shape and composition
print(df.shape)
print(df.info())
print(df.head())

(39717, 111)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB
None
        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  1077501    1296599       5000         5000           4975.0   36 months
1  1077430    1314167       2500         2500           2500.0   60 months
2  1077175    1313524       2400         2400           2400.0   36 months
3  1076863    1277178      10000        10000          10000.0   36 months
4  1075358    1311748       3000         3000           3000.0   60 months

  int_rate  installment grade sub_grade  ... num_tl_90g_dpd_24m  \
0   10.65%       162.87     B        B2  ...                NaN
1   15.27%        59.83     C        C4  ...                NaN
2   15.96%        84.33     C        C5  ...                NaN
3   13.49%       339.31     C        C1  ...                NaN
4   12.69%        67.79     B        B5  ...                NaN

  num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75 pub_rec_bankruptcies  \
0                NaN            NaN               NaN                  0.0
1                NaN            NaN               NaN                  0.0
2                NaN            NaN               NaN                  0.0
3                NaN            NaN               NaN                  0.0
4                NaN            NaN               NaN                  0.0

  tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit  \
0       0.0             NaN               NaN            NaN
1       0.0             NaN               NaN            NaN
2       0.0             NaN               NaN            NaN
3       0.0             NaN               NaN            NaN
4       0.0             NaN               NaN            NaN

  total_il_high_credit_limit
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN

[5 rows x 111 columns]

# Assessing

#columns and their meaning

| Column Name        | Meaning | Columns in Analysis |
| --------           | ------- |  --------------     |
| funded_amnt        | The total amount committed to that loan at that point in time.    | Y |
| funded_amnt_inv    | The total amount committed by investors for that loan at that point in time.     | Y |
| term               | Number of months of the loan    | Y |
| int_rate           | Interest Rate.    | Y |
| installment        | Number of Installments.     | Y |
| grade              | Loan grading is a classification system that involves assigning a quality score to a loan based on a borrower's credit history, quality of the collateral, and the likelihood of repayment of the principal and interest.| Y |
| sub_grade          | Loan grading is a classification system that involves assigning a quality score to a loan based on a borrower's credit history, quality of the collateral, and the likelihood of repayment of the principal and interest.    | Y |
| emp_title          | Borrower     | Y |
| emp_length         | Borrower age    | Y |
| home_ownership     | Whether Home is owned or not    | Y |
| annual_inc         | Annual Income  of the applicant   | Y |
| verification_status| Whether Details of the borrower verified or not| Y |
| issue_d            | Date Loan was issued    | Y |
| loan_status        | Current status of the loan    | Y |
| pymnt_plan         | Payment Plan    | N |
| url                | url     | N |
| desc               | Description of the loan| N |
| purpose            | For what commodity loan is taken    | Y |
| title              | For what commodity loan is taken       | Y |
| zip_code           | zip_code    | N |
| addr_state         | address_state    | N |
| dti                | Debt to income ratio (higher more risk of defaulter) | Y |
| delinq_2yrs        | The number of times the borrower had been 30+ days past due on a payment in the past 2 years | Y |
| earliest_cr_line   | The date the borrower's earliest reported credit line was opened     | Y |
| inq_last_6mths     | The borrower's number of inquiries by creditors in the last 6 months    | Y |
| mths_since_last_delinq     | The number of months since the borrower's last delinquency/defaulting on loans   | Y |
| mths_since_last_record         | The number of months since the last public record.   | Y |
| open_acc           | ?| ?|
| pub_rec            | Number of derogatory public records   | Y |
| revol_bal          | Total credit revolving balance ?    | Y |
| revol_util         | Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit   | Y |
| total_acc          | Number of accounts held     | Y |
| initial_list_status| The initial listing status of the loan. Possible values are â€“ W, F| Y |
| out_prncp          | Remaining outstanding principal for total amount funded.    | Y |
| out_prncp_inv      | Remaining outstanding principal for portion of total amount funded by investors       | Y |
| total_pymnt        | total_pymnt    | Y |
| total_pymnt_inv    | total_pymnt_inv    | Y |
| total_rec_prncp    | Principal received to date | Y |
| total_rec_int      | Interest received to date | Y |
| total_rec_late_fee | Late fees received to date    | Y |
| recoveries         | post charge off gross recovery  | Y |
| collection_recovery_fee| post charge off collection fee  | Y |
| last_pymnt_d       | last Payment Date| Y |
| last_pymnt_amnt    | Last Payment Amount   | Y |
| next_pymnt_d       | Next Payment Date    | Y |
| last_credit_pull_d |  The most recent month pulled credit for this loan  | Y |
| collections_12_mths_ex_med          | Number of collections in 12 months excluding medical collections     | Y |
| policy_code        | policy_code | Y |
| application_type   | application_type    | Y |
| acc_now_delinq     | The number of accounts on which the borrower is now delinquent.     | Y |
| chargeoff_within_12_mths    | charge off within last year    | Y |
| delinq_amnt        | Delinquent amount    | Y |
| pub_rec_bankruptcies    | Public record of going bankrupt | Y |
| tax_liens          | a legal claim against the assets of an individual or business that fails to pay taxes owed to the government | Y |

In [120]:
# Check duplicated value
df.duplicated().sum()

0

In [134]:
# Check null value for each column
df.isnull().sum().sort_values(ascending=False)

next_pymnt_d                  38577
mths_since_last_record        36931
mths_since_last_delinq        25682
emp_title                      2459
emp_length                     1075
pub_rec_bankruptcies            697
last_pymnt_d                     71
chargeoff_within_12_mths         56
collections_12_mths_ex_med       56
revol_util                       50
tax_liens                        39
title                            11
last_credit_pull_d                2
last_pymnt_amnt                   0
total_acc                         0
collection_recovery_fee           0
recoveries                        0
total_rec_late_fee                0
application_type                  0
policy_code                       0
total_rec_prncp                   0
total_pymnt_inv                   0
total_pymnt                       0
acc_now_delinq                    0
delinq_amnt                       0
out_prncp_inv                     0
out_prncp                         0
initial_list_status               0
total_rec_int                     0
id                                0
revol_bal                         0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
purpose                           0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
open_acc                          0
pub_rec                           0
dtype: int64

In [157]:
# Check whether the datatypes of each column is proper or not
df.dtypes

id                              int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                        object
loan_status                    object
purpose                        object
title                          object
dti                           float64
delinq_2yrs                     int64
earliest_cr_line               object
inq_last_6mths                  int64
mths_since_last_delinq        float64
mths_since_last_record        float64
open_acc                        int64
pub_rec                         int64
revol_bal                       int64
revol_util                     object
total_acc                       int64
initial_list_status            object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                   object
last_pymnt_amnt               float64
next_pymnt_d                   object
last_credit_pull_d             object
collections_12_mths_ex_med    float64
policy_code                     int64
application_type               object
acc_now_delinq                  int64
chargeoff_within_12_mths      float64
delinq_amnt                     int64
pub_rec_bankruptcies          float64
tax_liens                     float64
dtype: object

In [166]:
df[df.sub_grade == 'A1']

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
17,1069971,1304884,3600,3600,3600.0,36 months,6.03%,109.57,A,A1,...,NaN,May-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
19,1069742,1304855,9200,9200,9200.0,36 months,6.03%,280.01,A,A1,...,NaN,Feb-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
44,1069469,1304526,6000,6000,6000.0,36 months,6.03%,182.62,A,A1,...,NaN,Jun-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
48,1069287,1304171,10000,10000,10000.0,36 months,6.03%,304.36,A,A1,...,NaN,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
83,1068967,1303403,4500,4500,4500.0,36 months,6.03%,136.96,A,A1,...,NaN,Dec-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39448,196559,185681,3000,3000,1525.0,36 months,7.12%,92.80,A,A1,...,NaN,Oct-10,0.0,1,INDIVIDUAL,0,0.0,0,NaN,0.0
39476,186499,186347,1000,1000,875.0,36 months,7.12%,30.94,A,A1,...,NaN,NaN,0.0,1,INDIVIDUAL,0,0.0,0,NaN,0.0
39567,153022,153018,3000,3000,1825.0,36 months,7.12%,92.80,A,A1,...,NaN,Oct-10,0.0,1,INDIVIDUAL,0,0.0,0,NaN,0.0
39617,130986,130983,2100,2100,1825.0,36 months,7.12%,64.96,A,A1,...,NaN,Dec-10,0.0,1,INDIVIDUAL,0,0.0,0,NaN,0.0
39642,127213,85483,2000,2000,1575.0,36 months,7.12%,61.87,A,A1,...,NaN,Apr-10,NaN,1,INDIVIDUAL,0,NaN,0,NaN,NaN

In [167]:

df.policy_code.value_counts()

policy_code
1    39717
Name: count, dtype: int64

In [159]:
len(df.columns[df.isnull().sum() == len(df)])

0

In [224]:
df.tax_liens.value_counts()

tax_liens
0.0    37226
Name: count, dtype: int64

# Cleaning

##### Define

#### Drop columns which are null completely

##### Code

In [161]:
df = df.loc[:,df.columns[(df.isnull().sum() != len(df))]]

##### Test

In [162]:
df.columns[df.isnull().sum() == len(df)]

Index([], dtype='object')

##### Define

##### Remove columns from the dataset which are not useful for analysis

##### Code

In [ ]:
df.drop(columns=['zip_code','addr_state','pymnt_plan','url','desc'],axis = 1, inplace=True)

##### Test

In [ ]:
df.shape

(39717, 52)

##### Define

##### Remove columns from the dataset which have only one value and is not useful for analysis

##### Code

In [200]:
for i in df.columns:
    if len(df[i].unique()) == 1 and df[i].value_counts().tolist()[0] == len(df):
       print(i)

initial_list_status
policy_code
application_type
acc_now_delinq
delinq_amnt

In [205]:
df.drop(columns=['initial_list_status','policy_code','application_type','acc_now_delinq','delinq_amnt'],axis = 1, inplace=True)

##### Test

In [208]:
df.shape

(39717, 47)

##### Define

##### Remove rows which are completely null

##### Code

In [216]:
df[df.isnull().all(axis=1)]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, purpose, title, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, chargeoff_within_12_mths, pub_rec_bankruptcies, tax_liens]
Index: []

[0 rows x 47 columns]

##### Define

##### Remove rows where borrower is null

##### Code

In [225]:
df = df[~df.emp_title.isna()]

##### Test

In [226]:
df[df.emp_title.isna()]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, purpose, title, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, chargeoff_within_12_mths, pub_rec_bankruptcies, tax_liens]
Index: []

[0 rows x 47 columns]

# Univariate Exploration

# Segemented Exploration

# Bivariate Exploration